<div class="logo">
	<h1>Tracker</h1>
</div>

<% if current_user %>
<ul class="custom-nav nav nav-tabs">
	<li class="<%= active?(root_path)%>">
		<%= link_to "Home", root_path %>
	</li>
	<li class="<%= active?(posts_path)%>">
		<%= link_to "Time entries", posts_path %>
	</li>
	<li class="<%= active?(new_post_path)%>">
		<%= link_to "Add new entry", new_post_path, id: "new_post_from_nav" %>
	</li>
	<li class="nav-item dropdown ml-md-auto pull-right">
		 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Account</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">	
				<% if current_user.try(:type) == 'AdminUser' %>
			 	<%= link_to "TODO: Admin", admin_root_path ,class: "dropdown-item" %>
			 	<% end %>
			<div class="dropdown-divider">
			<%= link_to "Logout", destroy_user_session_path, method: :delete,class: "dropdown-item" %>
		</div>
	</li>
</ul>
<% end %>