<%= form_for @post, class: "form-horizontal" do |f| %>

	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |error|%>			
			<%= js add_gritter(error,:title => error, :sticky => true) %>
		<% end %>
	<% end %>
	<div class='form-group'>
  		<%= f.date_field :date, class: "form-control" %>
 	</div>
   <div class="form-group">
   		<%= f.text_area :rational,class: "form-control" %>
   	</div>
   <%= render partial: 'status', locals: {f: f} if current_user.type == 'AdminUser' %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>