<h1>Posts</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Posts
			</th>
			<th>
				Rationale
			</th>
			<th>
				Name
			</th>
			<th>Edit</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<%= render @posts %>
	</tbody>
</table>